<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pawmeet</title>
        <link rel="stylesheet" href="{% static 'home/home_style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="icon" type="image/png" href="{% static 'home/pawmeet.png' %}">
    </head>
<body>
    <header>
        <nav>
            <div class="nav-container">

                <div class="logo">
                    <i class="logo-img"></i>
                    <span>Pawmeet</span>
                </div>

                <div class="nav-buttons">
                    <button class="btn-login" onclick="window.location.href='{% url 'login' %}'">Iniciar Sesión</button>
                </div>

            </div>
        </nav>
    </header>

    <main>

        <section class="hero">
            <div class="hero-content">
                <h1>Bienvenido a Pawmeet</h1>
                <p>Crea conexiones para tu mascota con otras mascotas.</p>
                <button class="btn-create" onclick="window.location.href='{% url 'crear_usuario' %}'">Crear Cuenta</button>
            </div>
        </section>

        <div class="chatbot" onclick="window.location.href='http://127.0.0.1:8000/chatbot/'">
            <p>💬</p>
        </div>
        
    
        <section class="features">
            <div class="feature-card">
                <i class="fa-solid fa-shield-heart"></i>
                <h3>Seguro y Protegido</h3>
                <p>Tu seguridad es nuestra prioridad</p>
            </div>
            <div class="feature-card">
                <i class="fa-solid fa-user-group"></i>
                <h3>Millones de Usuarios</h3>
                <p>Conéctate con personas de todo el mundo</p>
            </div>
            <div class="feature-card">
                <i class="fa-solid fa-messages"></i>
                <h3>Conexiones Reales</h3>
                <p>Encuentra todo tipo de mascotas sociales</p>
            </div>
        </section>

    </main>

    <footer>
        <div class="footer-content">

            <div class="footer-section">
                <h4>Legal</h4>
                <a href="#">Privacidad</a>
                <a href="#">Términos</a>
                <a href="#">Política de Cookies</a>
            </div>

            <div class="footer-section">
                <h4>Equipo</h4>
                <p>Ferran</p>
                <p>Uri</p>
                <p>Pau</p>
                <p>Jonathan</p>
            </div>

        </div>
    </footer>
</body>
</html>