<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Conectar Mascotas - Pawmeet</title>
        <link rel="stylesheet" href="{% static 'home/conectar.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="icon" type="image/png" href="{% static 'home/pawmeet.png' %}">
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-container">

                    <a href="{% url 'home' %}" class="logo" style="text-decoration: none;">
                        <i class="logo-img"></i>
                        <span>Pawmeet</span>
                    </a>


                </div>
            </nav>
        </header>
        <main>

            
<h1>Lista de mascotas</h1>
<ul>
    {% for mascota in mascotas %}
        <li>
            <strong>ID:</strong> {{ mascota.id }} <br>
            <strong>Nombre:</strong> {{ mascota.nombre }} <br>
            <strong>Raza:</strong> {{ mascota.raza }} <br>
            <strong>Tamaño:</strong> {{ mascota.tamaño }} <br>
            <strong>Color:</strong> {{ mascota.color }} <br>
            <strong>Temperamento:</strong> {{ mascota.temperamento }} <br>
            <strong>Nivel de actividad:</strong> {{ mascota.nivel_actividad }} <br>
            <strong>Peso:</strong> {{ mascota.peso }} <br>
            <strong>Nivel de socialización:</strong> {{ mascota.nivel_socializacion }} <br>
            <strong>Vacunado:</strong> {{ mascota.vacunado }} <br>
        </li>
        <hr>
    {% endfor %}


        </main>
    </body>
</html>
