<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Conectar Mascotas - Pawmeet</title>
        <link rel="icon" type="image/png" href="{% static 'home/pawmeet.png' %}">
        <link rel="stylesheet" href="{% static 'home/conectar.css' %}">
        <link rel="stylesheet" href="{% static 'home/meetups.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    </head>
    <body>
        <header>
            <nav>
                <div class="nav-container">
                    <a href="{% url 'home' %}" class="logo" style="text-decoration: none;">
                        <img src="{% static 'home/Pawmeet.png' %}" alt="Logo Pawmeet" class="logo-img">
                        <span>Pawmeet</span>
                    </a>
                </div>
            </nav>

            <div class="nav-buttons">
                {% if user.is_authenticated %}
                    <button class="btn" onclick="window.location.href='{% url 'conectar' %}'">Conectar</button>
                    <button class="btn" onclick="window.location.href='{% url 'perfil' %}'">Mi perfil</button>
                {% else %}
                {% endif %}
            </div>
        </header>

        <main>
            <h1 style="margin-top: 2rem; border-radius: 1rem; background-color: rgba(255, 255, 255, 0.8); padding: 0.5rem;">Eventos disponibles</h1>
            <div class="eventos-lista">
                    <div class="evento">
                        <h2>Quedada Martorell</h2>

                        <p><strong>Descripción:</strong> Para vernos con nuestros perritos</p>
                        <p><strong>Fecha y Hora:</strong> Dec. 11, 2024, 8:36 p.m</p>
                        <p><strong>Ubicación:</strong> Martorell, España</p>
                        <p><strong>Organizador:</strong> Pau_01</p>

                        <p><strong>Usuarios inscritos:</strong></p>
                            <p>Ferran_01</p>
                            <p>Pau_01</p>
                            <p>Jona_23</p>
                            <p>Uriri_055</p>

                        <button class="btn-profile" onclick="return confirm('Seguro que deseas unirte a este evento?');">Unirme a este evento</button>
                    </div>

                    <div class="evento">
                        <h2>Quedada Sants</h2>

                        <p><strong>Descripción:</strong> ChitChat en el pipicán</p>
                        <p><strong>Fecha y Hora:</strong> Enero 14, 2025, 6:00 p.m</p>
                        <p><strong>Ubicación:</strong> Sants, Barcelona</p>
                        <p><strong>Organizador:</strong> Ferran_01</p>

                        <p><strong>Usuarios inscritos:</strong></p>
                            <p>Ferran_01</p>
                            <p>Pau_01</p>
                            <p>Jona_23</p>
                            <p>Uriri_055</p>

                        <button class="btn-profile" onclick="return confirm('Seguro que deseas unirte a este evento?');">Unirme a este evento</button>
                    </div>

                    <div class="evento">
                        <h2>Quedada Badalona</h2>

                        <p><strong>Descripción:</strong> Quedada de Golden Retrievers</p>
                        <p><strong>Fecha y Hora:</strong> Dec. 24, 2024, 10:00 a.m</p>
                        <p><strong>Ubicación:</strong> Martorell, España</p>
                        <p><strong>Organizador:</strong> Jona_23</p>

                        <p><strong>Usuarios inscritos:</strong></p>
                            <p>Ferran_01</p>
                            <p>Pau_01</p>
                            <p>Jona_23</p>
                            <p>Uriri_055</p>

                        <button class="btn-profile" onclick="return confirm('Seguro que deseas unirte a este evento?');">Unirme a este evento</button>
                    </div>
            </div>
        </main>
    </body>
</html>


