<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Conectar Mascotas - Pawmeet</title>
        <link rel="icon" type="image/png" href="{% static 'home/pawmeet.png' %}">
        <link rel="stylesheet" href="{% static 'home/conectar.css' %}">
        <link rel="stylesheet" href="{% static 'home/meetups.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    </head>
    <body>
        <header>
            <nav>
                <div class="nav-container">
                    <a href="{% url 'home' %}" class="logo" style="text-decoration: none;">
                        <img src="{% static 'home/Pawmeet.png' %}" alt="Logo Pawmeet" class="logo-img">
                        <span>Pawmeet</span>
                    </a>
                </div>
            </nav>
            <div class="nav-buttons">
                {% if user.is_authenticated %}
                    <button class="btn" onclick="window.location.href='{% url 'conectar' %}'">Conectar</button>
                    <button class="btn" onclick="window.location.href='{% url 'perfil' %}'">Mi perfil</button>
                {% else %}
                {% endif %}
            </div>
        </header>
        <main> <br><br><br><br>
            <h1>Eventos disponibles</h1>
            <div class="eventos-lista">
                {% for evento in eventos %}
                    <div class="evento">
                        <h2>{{ evento.titulo }}</h2>
                        <p><strong>Descripción:</strong> {{ evento.descripcion }}</p>
                        <p><strong>Fecha y Hora:</strong> {{ evento.fecha_hora }}</p>
                        <p><strong>Ubicación:</strong> {{ evento.ubicacion }}</p>
                        <p><strong>Organizador:</strong> {{ evento.organizador }}</p>

                        <button class="btn-profile">Unirme</button>

                    </div>

                {% empty %}
                    <p>No hay eventos disponibles.</p>
                {% endfor %}

            </div>
        </main>
    </body>
</html>


