:root {
    --primary-color: #b86800;
    --secondary-color: #e38000;
    --text-color: #424242;
    --light-gray: #f5f5f5;
    --background: #ffffff;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --border-radius: 10px;
    --hover-color: #d97300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: var(--text-color);
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow: auto;
    padding-top: 80px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background);
    box-shadow: 0 2px 10px var(--card-shadow);
    padding: 1rem 2rem;
    z-index: 1000;
}

.logo {
    max-width: 50px;
    top:auto;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}
.buttons button {
    flex: 1;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    background: var(--white);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.profile-container {
    margin-top: 50px;
    background: var(--background);
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 20px var(--card-shadow);
    width: 100%;
    max-width: 600px;
    overflow: auto;
    position: relative;
}

h1 {
    font-size: 2rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

.user-info {
    text-align: center;
    margin-bottom: 2rem;
}

.user-info p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: var(--text-color);
}

.options-section {
    margin-bottom: 2rem;
}

.options-section h2 {
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0.5rem 0;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    padding: 0.8rem 1rem;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    transition: background 0.3s ease, color 0.3s ease;
}

a:hover {
    background: var(--hover-color);
    color: var(--background);
}

footer {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    background: var(--light-gray);
    border-radius: var(--border-radius);
    box-shadow: 0 -2px 10px var(--card-shadow);
}

.mascota-foto {
    display: block;
    margin: 10px 0;
    border: 2px solid #ccc;
    transition: transform 0.3s ease;
}

.mascota-foto:hover {
    transform: scale(1.1);
    border-color: #007BFF;
}
