<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ entity.name }} - Details</title>
    <link rel="stylesheet" href="{% static 'petadvisor_paraUser.css' %}">
</head>

<body>
    <header>
        <img src="{% static 'home/pawmeet.png' %}" alt="Logo" class="logo">
        <button class="home-btn" onclick="window.location.href='{% url 'home' %}'">Home</button>

        <h1>{{ entity.name }}</h1>

        <a href="{% url 'conectar' %}">
            <button class="conectar-btn">Conectar</button>
        </a>

        <button class="btn-profile">Mi Perfil</button>
        <button class="btn-cerrarsesion">Cerrar sesión</button>
    </header>

    <main>
        <section>
            <h2>Mis servicios</h2>
            <p>Ofrecemos:</p>
            <ul>
                <li>Veterinaria</li>
                <li>Paseos y cuidado de mascotas</li>
                <li>Tienda de alimentos y accesorios</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 {{ entity.name }}. All rights reserved.</p>
    </footer>
</body>

</html>