{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Usuario</title>
    <link rel="stylesheet" href="{% static 'registro/crear_usuario.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <style>
        .error {
            color: red; /* Cambia el color del texto a rojo */
            font-size: 0.9em; /* Ajusta el tamaño de la fuente si es necesario */
        }
    </style>
</head>
<body>
    <div class="header">
        <img src="{% static 'Pawmeet.png' %}" alt="Logo" class="logo">
        <h1>Crear Usuario</h1>
    </div>
    <form method="post" action="{% url 'crear_usuario' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Datos personales</h2>

        <div class="form-field">
            {{ user_form.username.label_tag }}
            {{ user_form.username }}
            {% if user_form.username.errors %}
                <div class="error">
                    {% for error in user_form.username.errors %}
                        {{ error|escape }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-field">
            {{ user_form.email.label_tag }}
            {{ user_form.email }}
            {% if user_form.email.errors %}
                <div class="error">
                    {% for error in user_form.email.errors %}
                        {{ error|escape }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-field">
            {{ user_form.password.label_tag }}
            {{ user_form.password }}
            {% if user_form.password.errors %}
                <div class="error">
                    {% for error in user_form.password.errors %}
                        {{ error|escape }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-field">
            {{ profile_form.fecha_nacimiento_dueño.label_tag }}
            {{ profile_form.fecha_nacimiento_dueño }}
            {% if profile_form.fecha_nacimiento_dueño.errors %}
                <div class="error">
                    {% for error in profile_form.fecha_nacimiento_dueño.errors %}
                        {{ error|escape }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-field">
            {{ profile_form.telefono.label_tag }}
            {{ profile_form.telefono }}
            {% if profile_form.telefono.errors %}
                <div class="error">
                    {% for error in profile_form.telefono.errors %}
                        {{ error|escape }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-field">
            {{ profile_form.direccion.label_tag }}
            {{ profile_form.direccion }}
            {% if profile_form.direccion.errors %}
                <div class="error">
                    {% for error in profile_form.direccion.errors %}
                        {{ error|escape }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <button type="submit">Crear Usuario</button>

    </form>

    {% if messages %}
        <script>
            {% for message in messages %}
                swal({
                    title: "¡Éxito!",
                    text: "{{ message }}",
                    type: "success",
                    confirmButtonText: "Aceptar"
                }).then(function() {
                    window.location.href = "{% url 'crear_mascota' usuario_id=nuevo_usuario.id %}";  // Cambia a la URL de crear_mascota
                });
            {% endfor %}
        </script>
    {% endif %}
</body>
</html>