{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario creado con éxito</title>
    <link rel="stylesheet" type="text/css" href="{% static 'registro/crear_mascota_opcion.css' %}">
</head>
<body>
    <h1>Usuario creado con éxito</h1>
    <p class="info-text">¿Quieres añadir información sobre una mascota?</p>

    <div class="vertical-container">
        <form method="get" action="{% url 'crear_mascota' usuario_id=usuario_id %}">
            <button type="submit">Crear Mascota</button>
        </form>

        <form method="get" action="{% url 'usuario_exitoso' %}">
            <button type="submit">Finalizar</button>
        </form>

        <a href="{% url 'logout' %}">Cerrar sesión</a>
    </div>
</body>
</html>
