{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Mascota</title>
    <link rel="stylesheet" type="text/css" href="{% static 'registro/crear_mascota.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <style>
        .error {
            color: red; /* Cambia el color del texto a rojo */
            font-size: 0.9em; /* Ajusta el tamaño de la fuente si es necesario */
        }
    </style>
</head>
<body>
    <div class="header">
        <img src="{% static 'Pawmeet.png' %}" alt="Logo" class="logo">
        <h1>Crear Mascota</h1>
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-field">
            {{ mascota_form.as_p }} <!-- Los campos del formulario se generarán aquí -->
        </div>
        <button type="submit">Guardar</button>
    </form>

    <a href="{% url 'logout' %}">Cerrar sesión</a>

    {% if messages %}
        <script>
            {% for message in messages %}
                swal({
                    title: "¡Éxito!",
                    text: "{{ message }}",
                    type: "success",
                    confirmButtonText: "Aceptar"
                }).then(function() {
                    window.location.href = "{% url 'usuario_exitoso' %}";  // Cambia a la URL a la que deseas redirigir
                });
            {% endfor %}
        </script>
    {% endif %}
</body>
</html>