<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <a href="{% url 'crear_usuario' %}">Crear Nuevo Usuario</a>
    <ul>
        {% for usuario in usuarios %}
        <li>{{ usuario.username }} - {{ usuario.first_name }} {{ usuario.last_name }}</li>
        {% empty %}
        <li>No hay usuarios registrados.</li>
        {% endfor %}
    </ul>

    <h2>Perfiles de Usuario</h2>
    <ul>
        {% for perfil in perfiles %}
        <li>{{ perfil.usuario.username }} - {{ perfil.telefono }} - {{ perfil.direccion }}</li>
        {% empty %}
        <li>No hay perfiles registrados.</li>
        {% endfor %}
    </ul>


</body>
</html>
