{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Perfil de Usuario</title>
    <link rel="stylesheet" href="{% static 'static/user/perfil.css' %}"> <!-- Asegúrate de tener un archivo CSS si lo necesitas -->
</head>
<body>
    <div class="container">
        <h1>Actualizar Perfil de Usuario</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}  <!-- Formulario de usuario -->
            {{ user_profile_form.as_p }}  <!-- Formulario de perfil de usuario -->
            <h2>Añadir Mascota</h2>
            {{ mascota_form.as_p }}  <!-- Formulario para añadir mascota -->
            <h2>Cambiar Contraseña</h2>
            {{ password_change_form.as_p }}  <!-- Formulario para cambiar contraseña -->
            <button type="submit">Guardar Cambios</button>
        </form>
    </div>
</body>
</html>